* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: white;
	font-family: "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
	font-size: 100%;
}

#menuheader {
	background-image: url('image/back.jpg');
	border-bottom: 1px solid #CCCCCC;
	height: 100px;
}

#menuheader img {
	position: relative;
	top: 6px;
}

#menu {
	height: 100px;
}

.menuitem {
	display:block;
	width:auto;
	color: #B6B6B6;
	font-size: 14px;
	padding: 70px 9px 0px 9px;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none;
	height: 30px;
	float: left;
	color:gray;
}

.menuitem:hover{
color:#3766AC;
}

.menuitem span {
	position: relative;
	bottom: 8px;
}

.menuitem:hover {
	background-image: url(image/back_hover.jpg);
}

#menu2 {
	margin-top: 70px;
	float: left;
}

.menuitem2 {
	color: #B6B6B6;
	font-size: 15pt;
}

#statusbox {
	border-left: 1px dotted #CCCCCC;
	height: 80%;
	padding-left: 15px;
	width: 150px;
	float: right;
	margin: 10px 0 10px 0;
}

#statusbox div {
	/*font-family: Verdana;*/
	font-size: 11px;
	margin-top: 3px;
}

#text {
	width: 90%;
	margin: 30px 0 0 75px;
}

h1 {
	color: #3766AC;
	font-size: 27pt;
	font-weight: bold;
	float: left;
	margin: 50px 25px 0px 75px;
}

h2 {
	color: #3766AC;
	font-weight: bold;
	font-size: 20pt;
}

h3 {
	font-weight: bold;
}

.kop2 {
	font-size: 14pt;
	color: #3766AC;
	font-weight: bold;
}

.kop3, .kop4 {
	color: gray;
}

.kop3 {
	font-size: 17pt;
}

.kop4 {
	font-size: 12px;
}

.menudiv {
	background-color: #F4F4F4;
	border: 1px dotted gray;
	padding: 5px;
	margin: 10px;
}

.menudiv .title-page {
	width: 350px;
	font-size: 17pt;
}

.menudiv .title-module {
	width: 350px;
	font-size: 17pt;
	color: gray;
}

.menudiv span {
	display: inline-block;
	vertical-align: middle;
	padding-left: 2px;
}

.menudiv span span a {
	font-size: 17pt;
}

.menudiv span .more {
	font-size: 8pt;
	color: gray;
}

#somp {
	border-top: 1px dashed gray;
	color: gray;
	font-size: 12px;
	margin-top: 30px;
	padding-top: 5px;
}

#somp a {
	color: #3766AC;
	text-decoration: none;
}

#somp a:hover {
	color: gray;
	text-decoration: none;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: #3766AC;
	text-decoration: none;
}

a img {
	border: 0px;
}

button, input {
	background-color: #F4F4F4;
	border: 1px solid gray;
	color: gray;
	padding: 2px;
}

button.cancel {
	background-image: url('image/error_small.png');
}

input[type="submit"].save{
	background-image: url('image/document_save.png');
}

input[type="submit"] {
	background-image: url('image/update-no_small.png');
}

input[type="submit"], button {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 3px center;
	padding-left: 20px;
}

textarea {
	background-color: #F4F4F4;
	border: 1px solid gray;
	color: gray;
	margin-top: 2px;
}

p {
	margin-bottom: 15px;
}

.rightmenu {
	color: #3766AC;
	float: right;
	font-size: 12px;
	height: 600px;
	overflow: auto;
}

.smallmenu {
	text-align: right;
	margin-bottom: -8px;
	font-size: 13px;
	color: gray;
	height: 25px;
	width: 98%;
}

.smallmenu_button {
	margin-left: 10px;
}

.smallmenu_a {
	padding-left: 22px;
}

/* From Blueprint CSS - http://blueprintcss.org/ */
.error, .notice, .success {
		padding: .8em;
		padding-left: 50px;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		border: 2px solid #ddd;
		display: inline-block;
}

.error {
		background: #FBE3E4;
		color: #8a1f11;
		border-color: #FBC2C4;
		background-image: url(image/error_1.png);
		background-repeat: no-repeat;
		background-position: 8px center;
}

.notice {
		background: #FFF6BF;
		color: #514721;
		border-color: #FFD324;
		background-image: url(image/error_2.png);
		background-repeat: no-repeat;
		background-position: 8px center;
}

.success {
		background: #E6EFC2;
		color: #264409;
		border-color: #C6D880;
		background-image: url(image/error_3.png);
		background-repeat: no-repeat;
		background-position: 8px center;
}

.error a {
		color: #8a1f11;
}

.notice a {
		color:#514721;
}

.success a {
		color:#264409;
}