* {
	margin: 0;
	padding: 0;
}

body {
	font: 12px Arial, Helvetica, sans-serif;
	color: #1D1D1D;
	background: #FAFEEB url('img/bghtml.jpg') top repeat-x;
}

a {
	font-weight: bold;
	outline: none;
	color: #1D1D1D;
}

a:hover {
	text-decoration: none;
}

blockquote {
	background-color: white;
	color: #333;
	border: 1px solid #95CB42;
	border-left: 5px solid #95CB42;
	padding: 7px;
}

blockquote, p{
	line-height: 140%;
	margin-bottom: 16px;
}

blockquote p {
		margin: 0;
}

h1 {
	font-size: 34px;
	font-weight: normal;
	text-align: center;
	color: white;
	float: left;
	margin-top: 60px;
}

h2 {
	font-size: 18px;
	font-weight: normal;
	color: #5B7900;
	padding-bottom: 8px;
}

textarea, input {
	font-size: 10pt;
	color: black;
	background-color: white;
	border: 1px solid black;
	border-left: 5px solid #95CB42;
	padding: 1pt;
	margin: 5px;
}

#container {
	width: 760px;
	margin: 0 auto;
}

#header {
	height: 150px;
}

#header > ul {
	float: right;
	list-style: none;
	margin-top: 61px;
}

#header > ul > li {
	border: 1px solid transparent;
	border-bottom: none;
	display: block;
	float: left;
}

#header ul li {
	color: #323538;
	font-size: 20px;
	line-height: 47px;
	margin: 0 2px;
	padding: 0 14px;
}

#header ul a {
	text-decoration: none;
}

#active, #header > ul > li:hover {
	border-color: #5B7900 !important;
	background-color: #FAFEEB;
}

#header ul ul {
	background-color: #FAFEEB;
	border: 1px solid #5B7900;
	border-top: none;
	display: none;
	list-style: none;
	margin-left: -15px;
	position: absolute;
}

#header ul li:hover ul {
	display: block;
}

#content {
	width:730px;
}

#content ul {
	list-style: none;
	margin: 0 0 13px 20px;
}

#content ul li {
	padding: 0 0 3px 18px;
	background: url('img/bllt.gif') left no-repeat;
}

#footer {
	clear: both;
	width: 730px;
	margin-right: 230px;
	padding: 10px 0 20px 0;
	text-align: center;
	font-size: 11px;
	color: #666;
	border-top: 1px solid #95CB42;
}

/* Blog */
.blogpost {
	margin-top: 20px;
}

.posttitle {
	font-size: 18px;
}

.postinfo {
	font-size: 10px;
}

.blogpost_reaction {
	margin: 5px 0 15px 0;
}

/* Contactform */
#contactform {
	margin: 15px 0 15px 0;
}

/* Albums */
.album {
	background-color: white;
	border: 1px solid #95CB42;
	border-left: 5px solid #95CB42;
	padding: 7px;
	margin: 15px auto;
}

.albuminfo {
	font-size: 17pt;
}