AddHandler default-handler
<FilesMatch \.php$>
    SetHandler None
</FilesMatch>

<FilesMatch \.phtml>
    SetHandler None
</FilesMatch>

Options -ExecCGI

# mod_php check for PHP 7.x
<IfModule mod_php7.c>
	php_flag engine off
</IfModule>
# mod_php check for PHP 8.x
<IfModule mod_php.c>
	php_flag engine off
</IfModule>
